Python/Scratch.py
Python/.noseids
Python/nosetests.xml
Python/__pycache__/test_jira_downloader.cpython-37.pyc
Python/__pycache__/jira_downloader.cpython-37.pyc
Python/__pycache__/Test.cpython-37.pyc
Python/__pycache__/jira_downloader.cpython-36.pyc
Python/Test.py